/*########## 초기화 ##########*/
		*{margin:0; padding:0;}
		li{list-style:none;}
		a:link, a:visited{text-decoration:none; color:#000;}
		a:hover, a:focus{ color:#f00; }
		h2{position:absolute; width:1px; height:1px; font-size:1px; line-height:0; overflow:hidden; left:-9999px;}
		
		/* img에 테두리가 생기는데 익스플로러 구형브라우저의 문제점! 
			테두리는 img에 생김!!
		*/
		img{border:none;}
		/*
			css 외부파일 만들기
				+ 파일 / 새파일 / 다른파일들 / css 부분 클릭
				+ 파일 / 새파일 / 보통문서
				
				위에 두개중에 어떤걸로 해도 상관없음, 주의할건 확장자명!
		*/